<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crador de Tareas</title>
    <link rel="stylesheet" href="../style/default.css" />
  </head>
  <style></style>
  <body>
    <div class="container">
      <header class="titulo">
        <h1>Administrador de Tareas</h1>
      </header>
      <section class="nueva_tarea">
        <h2>Nueva Tarea <img class="icon_plus" src="../../assets/icon/plus1.svg" alt=""></h2>
      </section>
    </div>
  </body>
</html>
