<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crador de Tareas</title>
    <link rel="stylesheet" href="../style/default.css" />
  </head>
  <style></style>
  <body>
    <div class="container">
      <header class="titulo">
        <h1>Administrador de Tareas</h1>
      </header>
      <section class="tarea">
        <!-- <h2>Nombre de Tarea</h2> -->
      </section>
      <button type="button" class="nueva_tarea" onclick="alert('Funciona!')">
        <h2>Nueva Tarea</h2>
        <img class="icon_plus" src="../../assets/icon/plus1.svg" alt="">
      </button>
    </div>

  </body>
</html>
